*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    header{
        height:15vh;
        width: 100vw;
        background-image:linear-gradient($color-bases, white);
        grid-area: header;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items: center;
        .logo{
            display:inline-block;
            background-color: #FFEF82 ;
            margin: 5px;
            padding: 3px;
            text-align: center;
            border-radius: 100%;
            animation-name: logohotel;
            animation-duration: 2s;
            h1{
                color: #43175d;
                display: inline;
                font-size: 1.3rem; 
                font-style: italic; 
            }
        }
        @keyframes logohotel {
            from{
                transform:  rotate(0);
                opacity: 0;
            }
            to{
                transform:  rotate(360deg);
                opacity: 1;
            }
        }
        .nav{
            .menuIcono img{
               height: 40px;
               width: 40px;
               border-radius: 2px; 
            }
            .menuIcono, #check{
                display: none;
            }
            .vineta{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .lista{
                    display: inline;
                    text-align: center;
                    .item{
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        font-size: 1.1rem;
                        padding: 2px;
                        margin-inline: 10px;
                        margin-bottom: 25px;
                    }
                    .item:hover {
                        color: #797a78;
                        border-bottom: 2px solid #797a78;;
                    }
                }
            }
        }
    }
}