body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    header{
        height: 15vh;
        background-image:linear-gradient(#ffffff, #a5f74e);
        grid-area: header;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items: center;
        .logo{
            display:inline-block;
            background-color: #CCFF00 ;
            margin: 5px;
            padding: 3px;
            text-align: center;
            border-radius: 100%;
            animation-name: logohotel;
            animation-duration: 2s;
            h1{
                color: #43175d;
                display: inline;
                font-size: 1.3rem; 
                font-style: italic; 
            }
        }
        @keyframes logohotel {
            from{
                transform:  rotate(0);
                opacity: 0;
            }
            to{
                transform:  rotate(360deg);
                opacity: 1;
            }
        }

        .nav{
            .vineta{
                display: flex;
                flex-direction: row;
                .lista{
                    display: inline;
                    text-align: center;
                    .item{
                        color: rgb(0, 0, 0);
                        font-style: italic;
                        text-decoration: none;
                        background-color:#9ccc65;
                        padding: 2px;
                        margin-inline: 10px;
                        margin-bottom: 25px;
                        border-radius: 5px;
                        transition: 1s;
                    }
                    .item:hover {
                        background-color: #dbefc3;
                    }
                }
            }
        }
    }
}