body{
    main{ 
        height:73vh;
        width: 100vw;
        background-color: $background-main;
        grid-area: main;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
        .sectionUno{
            width: 50vw;
            @include flexBox(row, center, center,wrap);
            div{
                .foto{
                    border-radius: 10px;
                    height:430px;
                    width: 600px;
                }
            }
        }
        .sectionDos{
            width: 50vw;
            padding: 15px;
            @include flexBox(row, center, center,wrap);
            div{
                .titulo{
                    font-size: 2.5rem;
                    padding: 20px 0px;
                }
                .parrafo1{
                    color:$color-texto;
                    font-style: italic;
                    text-align:left;
                    font-size: 1.2rem;
                }
            }
        }
    }
}