body{
    #mainNos{
        background-color: $background-main;
        display: grid;
        grid-template-rows:1fr ;
        grid-template-columns:1fr 1fr ;
        grid-template-areas: 
        "conocenos video";
        justify-items: center;
        align-items:center;
        .conocenos{
            grid-area: conocenos;
            padding: 10px;
            
            h4{
                font-size: 1.5rem;
                text-align: center;
                margin: 30px;
            } 
            p{
                font-size: 1.1rem;
                text-align: center;
            } 
        }
        .video{
            grid-area: video;
            padding: 10px;
            
            iframe{ 
            height: 400px;
            width: 600px;
            border-radius:10px;

            }
        }
    }
}