body{
    height: 100vh;
    width: 100vw;
    #mainServ{
        grid-area: main;
        height: 100%;
        width: 100vw;
        background-color:$background-main;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .resto{
            max-width: 420px;
            padding: 0 15px;
            margin: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: estar;
            justify-content: flex-start;
            img{
                @include reset-img-servicio;
            }
            h2{
                margin:$margin-h2-servicio
            }
        }
        .excursion{
            max-width: 420px;
            padding: 0 15px;
            margin: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: estar;
            justify-content: flex-start;
            img{
                @include reset-img-servicio;
            }
            h2{
                margin:$margin-h2-servicio
            }
        }
        .spa{
            max-width: 420px;
            padding: 0 15px;
            margin: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: estar;
            justify-content: flex-start;
            img{
                @include reset-img-servicio;
            }
            h2{
                margin:$margin-h2-servicio
            }
        }
        @keyframes motion {
            from{
                transform: scale(0);
                opacity: 0;
            }
            to{
                transform: scale(1 , 1);
                opacity: 1;
            }
        }
    }
}