body{
    height: 100vh;
    width: 100vw;
    main{ 
        height: 73vh;
        width: 100vw;
        background-color:$background-main;
        grid-area: main;
        display: flex;
        .sectionUno{
            height: 100%;
            width: 50vw;
            display: flex;
            justify-content: center;
            align-items: center;
            .foto{
                border-radius: 10px;
                width: 85%;
                margin:10px 0px;
            }
        }
        .sectionDos{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 50vw;
            div{
                padding: 20px;
                display:flex;
                flex-flow: column nowrap;
                .titulo{
                    font-size: 2.5rem;
                    padding: 20px 0px;
                }
                .parrafo1{
                    color:$color-texto;
                    font-style: italic;
                    text-align:left;
                    font-size: 1.2rem;
                }
            }
        }
    }
}