body{
    main{
        width: 100vw;
        background-color: $background-main;
        grid-area: main;
        height:73vh;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
        .sectionUno{
            width: 50vw;
            @include flexBox(row, center, center,wrap);
            grid-area: sectionuno;
            .foto{
                height: 70vh;
                width:45vw;
            }
        }
        .sectionDos{
            width: 50vw;
            @include flexBox(row, center, center,wrap);
            grid-area: sectiondos;
            div{
                .titulo{
                    padding: 20px 0px;
                }
                .parrafo1{
                    color: rgb(4, 44, 13);
                    font-style: italic;
                    text-align:left;
                    font-size: 1.2rem;
                }
            }
        }
    }
}