body{height: 100vh;
     width: 100vw;
    #mainHab{
        margin: 20px 0px;
        padding: 30px;
        height:auto;
        background-color: $background-main;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-items: center;
        #habUno{
            @include reset-habitaciones;
            h2{
                margin-bottom: 5px;
            }
            img{
               @include reset-img-habitaciones;
            }
        }
        #habDos{
            @include reset-habitaciones;
            h2{
                margin-bottom: 5px;
            }
            img{
                @include reset-img-habitaciones;
            }
        }
        #habTres{
            @include reset-habitaciones;
            h2{
                margin-bottom: 5px;
            }
            img{
                @include reset-img-habitaciones;
            }
        }
    }
}