@media(max-width:1024px) {

    // MAIN INICIO LAPTOP
    
    body{
        height: 100vh;
       main{
            height: 100%;
            display: flex;
            flex-flow:column-reverse;
            .sectionUno{
                width: 100%;
                height: 100%;
                .foto{width: 85%;
                }
            }
            .sectionDos{
                width: 100%;
                height: 100%;
                div{
                   width: 90%;
                    
                }
            }
        }
    }
}
@media(max-width:768px) {

    // MAIN INICIO TABLET
    body{
        header{
            height: 100%;
            width: 100%;
        }
        main{
            .sectionUno{
                .foto{width: 85%;
                }
            }
        }
    } 

    //MAIN SERVICIO TABLET

    body{
        height: 100vh;
        width: 100vw;
        header{
            height: 25vh;
        }
        #mainServ{
            height: 100%;
            .resto{
                max-width: 600px;
                img{
                    width:100%;
                    border-radius: 10px;
                    animation-name: motion;
                    animation-duration: 3s; 
                }
            }
            .excursion{
                max-width: 600px;
                img{
                    width: 100%;
                    border-radius: 10px;
                    animation-name: motion;
                    animation-duration: 3s; 
                }
            }
            .spa{
                max-width:600px;
                img{
                    width: 100%;
                    border-radius: 10px;
                    animation-name: motion;
                    animation-duration: 3s; 
                }
            }
        }
    }

    // MAIN HABITACIONES TABLET
    
    body{    
        #mainHab{
            height: 100%;
            width: 100vw;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns:1fr ;
            grid-template-areas: 
            "habitacion1 "
            "habitacion2 "
            "habitacion3";
            justify-items:center;
            align-items: stretch;
            #habUno{
                grid-area: habitacion1;
                max-width: 600px;
            }
            #habDos{
                grid-area: habitacion2;
                max-width: 600px;
            }
            #habTres{
                grid-area: habitacion3;
                max-width: 600px;
            }
        }
    }
    // MAIN NOSOTROS TABLET
    body{
        #mainNos{
            background-color: $background-main;
            display: grid;
            gap: 20px;
            grid-template-rows:1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "conocenos"
            "video";
            justify-items: center;
            align-items: center;
        }
    }

    // MAIN DE CONTACTO TABLET
    body{
        #mainContact{
                display: flex;
                flex-flow: column;
                align-items: center;
        }
    }         
}
@media(max-width:425px){

    // HEADER MOBILE

    body{height: 100vh;
        header{
            height:15vh;
            .nav{
                #check:checked ~ ul{
                    left: 0;
                    transition: all 0.5s;
                }
                .checkbtn{
                    display: block;
                    .menuIcono{
                        display: block;
                        position: absolute;
                        top: 30px;
                        right:20px ;
                    }   
                }
                .vineta{   
                    display: block;
                    position: absolute;
                    top: 100px;
                    left: -100%;
                    background-color: #464646;;
                    width: 80%;
                    height: 315px;
                    right: 0;
                    
                    box-shadow: 3px 5px 10px -3px;
                    .lista{
                       .item{
                        display: block;
                        color: white;
                        margin: 0px;
                        padding: 20px 0px;
                        border-bottom: 2px solid black;
                       }
                    }
                }
            }
        }
      
        // FOOTER MOBILE
        
        footer{
            background-color: $color-bases;
            height: 20vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            div{
                flex-basis: 1;
                flex-grow: 100%;
                margin-top: 5px;
                .telFooter{
                    height: 15px;  
                }
                .numTel{
                    padding-left: 5px;  
                }
            }
            div{
                flex-basis: 1;
                flex-grow: 100%;
                margin-top: 5px;
                .textFooter{
                    height: 15px; 
                }
            }
            div{
                flex-basis: 1;
                flex-grow: 100%;
                margin-top: 5px;
                .mailFooter{
                    height: 15px; 
                }  
                .mail{
                    padding-left: 5px;
                }
            }
        }
    }
}
