@mixin reset-img-servicio{
    border-radius: 10px;
    width: 100%;
    animation-name: motion;
    animation-duration: 3s;
}
@mixin reset-habitaciones {
    background-image:linear-gradient(white, #FF7F3F);
    max-width: 400px;
    padding: 10px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 10px;
}
@mixin reset-img-habitaciones{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}