$color-bases: #9ccc65;
$color-texto: rgb(4, 44, 13);
$background-main: #d6faac;
$color-form:#bee98a;
$heigth-img-hab:200px;
$margin-h2-servicio:20px 40px 5px 40px;
$margin-p-servicio:0px 40px 0px 40px;